@import url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,cyrillic);
html, body, .wrapper
{
    height: 100%;
}
.w-left, .w-right{
    min-height: 100%;
}
section, header, footer,
nav, menu
{
    display: block;
}
body, html, div, header, footer, ul,
nav, menu, p, section,
.wrapper, .w-left, .w-right
{
    margin: 0;
    padding: 0;
    border: 0;
    font: 13px 'Trebuchet MS' ;
    color: #333333;
}
header, .wrapper, footer
{
    width: 1000px;
    margin: 0 auto;
}
h1
{
    font-size: 22px;
}
.w-left
{
    float: left;
    width: 25%;
    position:relative;
    background:#fff;
}
.w-left:before,
.w-left:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.w-left:before {
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 8px rgba(0,0,0,0.6);
            box-shadow:0 0 8px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
         border-radius:10px / 100px;
}

.w-right
{
    /*background: url('/images/left-line.png') no-repeat left top;*/
    float: right;
    width: 75%;
}
.logo
{
    text-align: center;
    margin: 25px 0px 10px;
}
.w-right h1
{
    margin-top: 0;
    color: #444444;
}
/*----------Начало ФОРМА ВХОДА-------*/
#login-form
{
    padding: 10px 20px 0;
}
#login-form .row
{
    position: relative;
    margin-bottom: 10px; 
}
#login-form .row label
{
    display: block;
    margin-bottom: 5px;
}
#login-form .row.rememberMe,
#login-form .row.buttons
{
    width: 60%;
    float: left;
}
#login-form .row.buttons
{
    width: 40%;
}
#login-form .row.buttons input.btn
{
    width: 100%;
    padding: 4px 0;
    box-shadow: none;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,140,140,0.9);
    background: #14AAAA;
    background: -moz-linear-gradient(top,#14AAAA,#008C8C);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#14AAAA),color-stop(100%,#008C8C));
    background: -webkit-linear-gradient(top,#14AAAA,#008C8C);
    background: -o-linear-gradient(top,#14AAAA,#008C8C);
    background: -ms-linear-gradient(top,#14AAAA,#008C8C);
    background: linear-gradient(top,#14AAAA,#008C8C);
}
#login-form .row.rememberMe label
{
    font-size: 11px;
    display: inline;
    line-height: 27px;
}
#login-form .row input[type='text'],
#login-form .row input[type='password']
{
    padding: 2% 3%;
    width: 93%;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    vertical-align: middle;
}
#login-form .row.error input
{
    border-color: #FF4040;
}
#login-form .row.error label
{
    color: #FF4040;
}
#login-form .row .errorMessage
{
    margin-top: 5px;
    color: #FF4040;
}
#login-form .row.error .errorMessage
{
    position: absolute;
    width: 70%;
    font-size: 11px;
    background: #FF4040;
    color: white;
    border-radius: 3px;
    top: 11px;
    left: 105%;
    padding: 2% 5%;
    z-index: 10;
}
#login-form .row.error .errorMessage:after
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #FF4040;
    border-bottom: 7px solid transparent;
}
/*----------Конец ФОРМА ВХОДА-------*/

.user-info
{
    margin: 0 20px 10px;
}
.user-info .user-name
{
    float: left;
    display: block;
    width: 100%;
    /*text-transform: uppercase;*/
    font-size: 14px;
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.user-menu
{
    list-style: none;
    margin: 0 20px;
    text-align: left;
}
.user-menu li
{
    
}
.user-menu li a
{
    display: block;
    color: rgb(0, 145, 124);
    text-decoration: none;
    font-size: 14px;
    padding: 3px 0px 3px 7px;
    border-top: 1px dashed rgb(0, 145, 124);
}
.user-menu li:first-child a
{
    border-top: 0;
}
.user-menu li a:hover
{
    background: #f7f7f7;
}
.user-menu li a.active
{
    background: #eeeeee;
}
.user-menu li .user-submenu
{
    padding-left: 20px;
    list-style: none;
}
.user-menu li .user-submenu li:first-child a
{
    border-top: 1px dashed rgb(0, 145, 124);
}
#content
{
    padding: 20px 0 20px 20px;
}

/*--------Перевозки----------------*/
.transports
{
    
}
.transports .sorter
{
    
}
.transports .sorter ul
{
    list-style: none;
    border-bottom: 1px dashed rgb(200,200,200);
}
.transports .sorter ul li
{
    float: left;
}
.transports .sorter ul li a
{
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
    display: block;
    padding: 4px 12px;
    position: relative;
}
.transports .sorter ul li a.asc
{
    color: rgb(239, 128, 27);
}
.transports .sorter ul li a.desc
{
    color: rgb(239, 128, 27);
}
.transports .sorter ul li a.asc:after,
.transports .sorter ul li a.desc:after
{
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    width: 0px;
    height: 0px;
}
.transports .sorter ul li a.asc:after
{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid rgb(239, 128, 27);
}
.transports .sorter ul li a.desc:after
{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid rgb(239, 128, 27);
}
.transports .items
{
    
}
.transports .items .transport
{
    border-bottom: 1px dashed rgb(200,200,200);
    padding: 5px 10px;
    position: relative;
    height: 45px;
}
.transports .items .transport > div
{
    position: relative;
}
.transports .items .transport .t-header
{
    display: block;
    font-size: 18px;
    color: rgb(0, 145, 124);
    text-decoration: none;
    margin: 1px 0 6px;
}
.transports .items .transport .t-date
{
    
}
.transports .items .transport .t-date .t-d-type,
.transports .items .transport .t-date .t-d-published,
.transports .items .transport .t-date .t-d-form-to
{
    color: #666;
}
.transports .items .transport .t-date .t-d-published,
.transports .items .transport .t-date .t-d-form-to
{
    margin-left: 10px;
}

.transports .items .transport .t-timer
{
    text-align: center;
    font-size: 14px;
}
.transports .items .transport .t-timer .t-year,
.transports .items .transport .t-timer .t-month,
.transports .items .transport .t-timer .t-days
{
    font-size: 11px;
}
.transports .items .transport .t-timer .t-year strong,
.transports .items .transport .t-timer .t-month strong,
.transports .items .transport .t-timer .t-days strong
{
    font-size: 13px;
}
.transports .items .transport .t-timer .t-time
{
    font-size: 23px;
}
.transports .items .transport .t-timer .t-closed
{
    display: block;
    padding-top: 4px;
}
.transports .items .transport .t-rate
{
    text-align: center;
    font-size: 23px;
    color: rgb(239, 128, 27);
    padding-top: 9px;
    width: 100%;
    height: 100%;
}
.transports.pager
{
    
}
/*--------Конец-Перевозки----------*/

/*--------Одна-перевозка-----------*/
.transport-one
{
    
}
.transport-one h1
{
    margin: 0;
    padding: 0;
}
.transport-one .t-o-published
{
    color: #CCC;
    padding-left: 10px;
    display: block;
    margin-bottom: 15px;
}
.transport-one .t-o-info
{
    
}
.transport-one .t-o-info label
{
    font-size: 16px;
    font-weight: bold;
}
.transport-one .t-o-info span
{
    display: block;
    padding: 5px 0 1px 15px;
}
/*--------Конец-Одна-перевозка-----*/
.footer
{
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
}

.width-15, .width-30, .width-50, .width-60, .width-70  
{
    float: left;
}
.width-15{width: 15%;}
.width-30{width: 30%;}
.width-50{width: 50%;}
.width-60{width: 60%;}
.width-70{width: 70%;}

header:after, .wrapper:after, footer:after, #login-form:after,
.user-info:after, .transports .sorter ul:after, .transports .items .transport:after
{
    content: '';
    display: block;
    clear: both;
}


.pager{
    margin: 0;
    background: rgb(238, 238, 238);
}
.pager ul.yiiPager{
    list-style: none;
}
.pager ul.yiiPager li{
    float: left;
    line-height: 24px;
}
.pager ul.yiiPager li.page{
    display: block;
    float: left;
    text-align: center;
    border-bottom: 2px solid white;
}
.pager ul.yiiPager li.page.selected{
    border-bottom: 2px solid rgb(239, 128, 27);
}
.pager ul.yiiPager li a{
    border: 0;
    margin: 0;
    padding: 0 10px;
    background: none;
    color: rgb(0, 145, 124);
    display: block;
    text-decoration: none;
}
.pager ul.yiiPager li.hidden a{
    color: #777;
}
.pager ul.yiiPager li.selected a{
    color: rgb(239, 128, 27);
}

#rate-price{
   float: left;
   font-size: 23px;
}
.up{
    margin-left: 50px;
	background: url(/images/ui-icons_222222_256x240.png);
	background-position: 0 -16px;
	width: 16px;
	height: 16px;
}

.down{
    margin-left: 49px;
	background: url(/images/ui-icons_222222_256x240.png);
	background-position: -64px -16px;
	width: 16px;
	height: 16px;
}

button{
    display: block;
}

.btn{
    padding: 0 10px;
    width: auto;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    box-shadow: none;
    display: block;
    float: left;
    margin: 3px 5px;
    text-decoration: none;
    border-radius: 2px;
    border: 0;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    width: auto;
    cursor: default;
}

.btn-green{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    border: 1px solid #5ca941;
}

.big{
    height: 25px;
}

.rate-btns{
    float: left;
}

.disabled{
    cursor: default;
    opacity: 0.4;
}

#data{
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.post{
    height: 60px;
}

.clear{
    clear: both;
}