@import url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,cyrillic);
html, body
{
    height: 100%;
}
a, img {
    border:none;
}
.w-left, .w-right{
    min-height: 100%;
}
section, header, footer,
nav, menu
{
    display: block;
}
body, html, div, header, footer, ul,
nav, menu, p, section,
.wrapper, .w-left, .w-right
{
    margin: 0;
    padding: 0;
    border: 0;
    font: 13px 'Trebuchet MS' ;
    color: #333333;
}
.header, .wrapper, footer
{
    width: 100%;
    min-width: 900px;
    margin: 0 auto;
}
.header
{
    position:relative;
    background:#fff;
    padding: 10px 0;
    clear: both;
}  

.header:before
{
    background: white;
    content:"";
    position:absolute;
    z-index:-2;
}
.header:before
{
    top:50%;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 10px rgb(200, 200, 200);
       -moz-box-shadow:0 0 10px rgb(200, 200, 200);
            box-shadow:0 0 10px rgb(200, 200, 200);
    -moz-border-radius:100px / 10px;
         border-radius:100px / 10px;
}
.w-left
{
    float: left;
    width: 20%;
}

.w-right
{
    /*background: url('/images/left-line.png') no-repeat left top;*/
    float: right;
    width: 80%;
}
.header .logo
{
    text-align: left;
    margin: 0px 50px 0px 35px;
    float: left;
}
.header .menu
{
    list-style: none;
    float: right;
    margin-right: 35px;
    /*padding: 50px 0 0 0;*/
}
.header .menu li
{
    float: left;
}
.header .menu li a
{
    color: #555555;
    padding: 5px 10px;
}
.header .center
{
    /*float: left;*/
    padding: 25px 0 0 0;
}
.header .center span, .ui-dialog-title, div.form-label
{
    color: #969595;
    font-family: FuturisXC;
    font-weight: bold;
    font-size: 21px;
}
.header .user-greeting {
    display: inline-block;
    max-width: 60%;
}
.header .user-greeting span{
    /*color: #969595;
    font-family: bold;*/
    color: #ef801b;
    font-family: FuturisXC;
    font-size: 14px;
}
div.form-label
{
    font-weight: normal;
}
.ui-dialog-title{
    font-size: 18px;
}
.ui-dialog-title:first-letter, div.form-label:first-letter, h1:first-letter
{
    color: #EF801B;
}

div.form-label{
    margin-bottom: 30px;
}
.w-right h1
{
    margin-top: 0;
    margin-bottom: 10px;
    color: #969595;
    font-weight: normal;
}
/*----------Начало ФОРМА ВХОДА-------*/
.w-right #login-form{
    width: 35%;
}

#login-form .position {
    padding-top: 10px;
}
#login-form .rememberMe.row input[type="checkbox"]
{
    margin: 0;
}
#login-form, #registration-form, .w-right .registration, #feedback-form, #help-form
{
    padding: 20px 35px 0;
}
#login-form .row, #registration-form .row, #password .row, #mail .row, #feedback-form .row
{
    position: relative;
    margin-bottom: 10px;
}
#login-form .row label, #registration-form .row label, #quick-form .row label
{
    display: block;
    margin-bottom: 5px;
}
#login-form .row.rememberMe,
#login-form .row.buttons
{
    width: 60%;
    float: left;
}

#registration-form .btn, #login-form .btn
{
    float: left;
}

#feedback-form .btn, #registration-form .btn
{
    margin-top: 15px;
}

#login-form .btn, #registration-form .btn, #login-form .btn, #feedback-form .btn
{
    padding: 3px 20px;
}

#quick-form .button
{
    margin-top: 10px;
}

#login-form input.btn, #feedback-form input.btn , #registration-form input.btn, #registration-form .row.buttons input.btn, #quick-form input.btn, #setRateBtn, #abordRateBtn, button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
{
    width: 96%;
    padding: 4px 0;
    box-shadow: none;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    color: #FFF;
    font-weight: bold;
    background: #fbc173;
    background: -moz-linear-gradient(top, #fbc173, #f39314);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbc173),color-stop(100%,#f39314));
    background: -webkit-linear-gradient(top,#fbc173,#f39314);
    background: -o-linear-gradient(top,#fbc173,#f39314);
    background: -ms-linear-gradient(top,#fbc173, #f39314);
    background: linear-gradient(top,#fbc173, #f39314);
    cursor: pointer;
}
#quick-form input.btn, #addRate input.btn, #login-form input.btn, #registration-form input.btn, #feedback-form input.btn
{
    padding: 4px 15px;
    width: auto;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
{
    padding: 0 15px;
    width: auto;
    border-radius: 4px !important;
}
#addRate .rate-button:last-child input.btn
{
    float: left;
}

#login-form .row.rememberMe label
{
    font-size: 11px;
    display: inline;
    line-height: 27px;
}
#login-form .row input[type='text'],
#login-form .row input[type='password'], 
#registration-form .row input[type='text'],
#registration-form .row input[type='password'],
#feedback-form .row input:not(.btn),
#feedback-form .row textarea
{
    padding:2% 3%;
    width: 92%;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgb(200,200,200);
    vertical-align: middle;
}

#registration-form .row input[type='text'], #registration-form .row input[type='password'], #feedback-form .row input:not(.btn), #feedback-form .row textarea{
    width: 30%;
    padding: 3px;
}
#login-form .row.error input, #registration-form .row.error input
{
    border-color: #FF4040;
}
#login-form .row.error label, #registration-form .row.error label, #quick-form div.errorMessage
{
    color: #FF4040;
}
#login-form .row .errorMessage, #registration-form .row .errorMessage, #password  .row .errorMessage, #mail  .row .errorMessage, #o-edit-contact .errorMessage
{
    margin-top: 5px;
    color: #FF4040;
}
/*#login-form .row.error .errorMessage, #mail .row.error .errorMessage
{
    background: none repeat scroll 0 0 #f2f3f7;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(50, 50, 50, 0.5);
    color: #fb0f00;
    font-family: Tahoma,Arial;
    font-size: 11px;
    padding: 2% 5%;
    position: absolute;
    left: 105%;
    top: 9px;
    width: 70%;
    z-index: 10;
}*/

/*#registration-form .row.error .errorMessage, #password .row.error .errorMessage, #mail .row.error .errorMessage, #o-edit-contact .errorMessage, #feedback-form .row.error .errorMessage
{
    position: absolute;
    width: 70%;
    font-size: 11px;
    background: #FF4040;
    color: white;
    border-radius: 3px;
    top: 13px;
    left: 105%;
    padding: 1% 2%;
    z-index: 10;
}*/

#mail .row.error .errorMessage
{
    top: 5px;
}
/*
#password .row.error .errorMessage, #mail .row.error .errorMessage {
    padding: 1% 2%;
}*/

#registration-form .row.error .errorMessage {
    padding: 0.5% 0.5% 0.5% 1%;
}

#feedback-form .row.error .errorMessage {
    padding: 0.5% 1%;
    margin-top: 0.5%;
}

#feedback-form .btn {
    float: left;
}

#registration-form .row.error .errorMessage
{
    left: 55%;
    width: 30%;
}

#password .row.error .errorMessage, #mail .row.error .errorMessage
{
    left: 65%;
    width: 60%;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    #password .row.error .errorMessage, #mail .row.error .errorMessage
    {
        left: 75%;
        width: 25% !important;
    }
}
/*#mail .row.error .errorMessage
{
    width: 30%;
}*/
#o-edit-contact .errorMessage
{
    left: 38%;
    width: 50%;
}

#feedback-form .row.error .errorMessage
{
    left: 50%;
    width: 50%;
}


#feedback-form .row.capture a img{
    margin-bottom: 12px;
}

/*#login-form .row.error .errorMessage:after, #registration-form .row.error .errorMessage:after, #password .row.error .errorMessage:after, #mail .row.error .errorMessage:after, #o-edit-contact .errorMessage:after, #feedback-form .errorMessage:after
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #FF4040;
    border-bottom: 7px solid transparent;
}*/

#registration-form .row label{  
    display: block;
    float: left;
    min-width: 18%;
}
.row.capture
{
    margin-left: 18%;
}
#feedback-form .row.capture
{
    margin-left: 15%;
}

#feedback-form .row label {  
    display: block;
    float: left;
    min-width: 15%;
}

#registration-form .row label[for="RegistrationForm_iagree"] {
    margin-right: 10px;
}

div.ui-widget-header {
    /*background: url("/images/ui-bg_gloss-wave_35_f6a828_1x100.jpg") repeat-x scroll 0% 10% #CCCCCC;*/
    background: url("/images/ui-bg_gloss-grey-1x80.png") repeat-x scroll 0% 10% #CCCCCC;
    border: 0 !important;/*1px solid #AAAAAA;*/
    color: #222222;
    font-weight: bold;
}

.registration {
    padding: 0 35px;
}

.restore {
    padding: 10px 35px 0;
}

.color {
    color: #969595 !important;
    /*color: #5f5e5e;*/
    font-weight: bold;
}

.position{
    padding-bottom: 15px;
}

/*----------Конец ФОРМА ВХОДА-------*/

.user-info
{
    margin: 20px 20px 10px;
    text-align: center;
}
.user-info .user-name
{
    float: left;
    display: block;
    width: 100%;
    /*text-transform: uppercase;*/
    font-size: 14px;
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.user-menu
{
    list-style: none;
    margin: 0 20px;
    text-align: left;
}
.user-menu li
{
    
}
.user-menu li a, .logout
{
    display: block;
    color: #5f5e5e;
    text-decoration: none;
    font-size: 16px;
    padding: 3px 0px 3px 7px;
    border-top: 1px dashed #555;
}

.logout{
    border-top: none;
}

.user-menu li:first-child a
{
    border-top: 0;
}
.user-menu li a:hover
{
    background: #e8e7e7;
}

.user-menu li a.menu-active
{
    background: #e8e7e7;
}
.user-menu li .user-submenu
{
    padding-left: 20px;
    list-style: none;
}
.user-menu li .user-submenu li:first-child a
{
    border-top: 1px dashed rgb(0, 145, 124);
}
#content
{
    padding: 20px 35px 0px 0px;
    min-height: 470px;
    cursor: default;
}

.row input[type='checkbox']{
    margin: 0 0 0 5px;
} 

div.row{
    margin-top: 5px;
}

#options div.row, #password div.row, #mail div.row{
    margin-left: 22px;
}
#options div.row.nds{
    padding-top: 10px;
}
#password div.row.password, #mail div.row:not(.submit){
    margin-left: 27px;
}

#options div.title, #password div.title, #mail div.title, .o-right div.title, #o-edit-contact h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #EF801B;
}

#mail div.title span:last-child
{
    color: #666666 !important;
}

#o-edit-contact h2 {
    margin-bottom: 20px;
    width: 80%;
}
#options div.title span, #password  div.title span, #mail  div.title span, .o-right div.title span{
    margin-left: 5px;
}

#password .row.password label, #mail .row label{
    min-width: 40%;
    float:left;
    display: block;
}

.o-contacts .items .contact{
    margin-left: 23px;
}

.o-contacts a {
   color: #636262;
   font-size: bold;
   text-decoration: none;
   font-size: 16px;
}

.o-contacts .list-view .sorter a {
   color: #00917C;
   font-size: 14px;
}
.o-contacts .list-view .sorter a.desc, .o-contacts .list-view .sorter{
    border-bottom: 2px solid #00917C;
    padding: 5px 10px 5px 5px;
}
.o-contacts .items .contact:first-child{
    margin-top: 0;
    padding-top: 0;
}
.o-contacts .list-view .sorter a.desc, .o-contacts .list-view .sorter a.asc{ 
    padding-right: 15px;
    font-weight: 500;
}
.o-contacts .list-view .sorter li{
    /*margin-bottom: 1px dashed grey;*/
    
}
.o-contacts .items .contact
{
    border-bottom: 1px solid #E8E8E8;
    padding: 5px 10px;
    position: relative;
    min-height: 20px;
}

.o-right .title {
    margin-bottom: 20px;  
}

.o-contacts .sorter {
    text-align: left;
    margin-left: 20px;
}

.btn{
    text-decoration: none;
     background: -moz-linear-gradient(center top, #fbc173, #f39314) repeat scroll 0 0 rgba(0, 0, 0, 0);
     color: #fff;
     font-weight: bold;
     cursor: pointer;
     border-radius: 3px;
     padding: 3px 10px;
     font-size: 14px;
     float: right;
     border: 0;
}

.w-right #content .o-right {
    float: right;
    width: 50%;
}

.w-right #content .o-left {
    float: left;
    width: 50%;
    
}
.o-right .message {
    /*background: #E6EFC2;
    border-color: #C6D880;
    color: green;*/
    color: #fff;
    background: #48b5b5;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -o-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
}
#close-contact{
    margin-left: 10px;    
}

form#contactform .field
{
    position: relative;
    margin-bottom: 10px;
    width: 70%;
}

form#contactform label {
    float: left;
    min-width: 15%;
}

/*-------- страница "Помощь" ----------------*/
#help-form div.form-label {
    margin-bottom: 10px;
}
.regular-mes{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}
.regular{
    margin-bottom: 20px;
}
strong.regular{
    display: block;
    margin-bottom: 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #F5F5F5; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* для IE6-9 */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:    -moz-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:     -ms-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:      -o-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    background-image:         linear-gradient(to bottom, #F5F5F5, #DCDCDC);
}
#help-form img{
    margin: 20px 0;
}

#help-form p{
    margin: 5px 0;
}

#help-form h3 {
    /*padding-top: 2px;
    padding-bottom: 2px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    margin-top: 1px;
    color: #5f5e5e;
    font-weight: normal;
    cursor: pointer;
}

#help-form .admin_additional_features_content{
    cursor: default;
    padding: 10px 20px;
}

#help-form span:not(.attention),  #help-form .title{
    color: #EF801B;
    font-size: 16px;
    font-weight: bold;
}
#help-form .title{
    margin-bottom: 5px;
    margin-top: 5px;
}
.admin_additional_features_content {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 7px #AAAAAA inset;
    position: relative;
}

.ui-accordion-header-active{
    background: #F5F5F5; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* для IE6-9 */
    background: -webkit-linear-gradient(top,#F5F5F5, #AAAAAA); /* для webkit-браузеров */
    background: -moz-linear-gradient(top,  #F5F5F5, #AAAAAA); /* для firefox 3.6+ */
    background: -o-linear-gradient(top,  #F5F5F5, #AAAAAA); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F5F5F5, #AAAAAA); /* для IE10+ */ 
}

#help-form ol, #help-form ul{
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
    padding-left: 0;
}

#help-form ol li:before, #help-form ul ol li:before {
  content: counter(item) ') '; /* Добавляем к числам скобку */
  counter-increment: item; /* Задаём имя счетчика */
}
#help-form ul ol li, #help-form ul ul li{
    margin-left: 20px;
}
#help-form ul li:before {
  content: '- '; /* Добавляем к числам скобку */
  counter-increment: item; /* Задаём имя счетчика */
}

/*-------- конец страница "Помощь" ----------------*/
/*--------Перевозки----------------*/
.message{
    padding: 1.2% 2%;
    margin-bottom: .53em;
    background: #14AAAA;
    border-color: #C6D880;
    border-radius: 2px;
    color: white;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -o-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    right: 2.9%;
    font-weight: bold;
}

.transports
{
    
}
.transports .sorter
{
    
}
.transports .sorter ul
{
    list-style: none;
    border-bottom: 1px dashed #555;
}

.transports .sorter ul li
{
    float: left;
}
.transports .sorter ul li a
{
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
    display: block;
    padding: 4px 12px;
    position: relative;
}
.transports .sorter ul li a.asc
{
    color: rgb(239, 128, 27);
}
.transports .sorter ul li a.desc
{
    color: rgb(239, 128, 27);
}
.transports .sorter ul li a.asc:after,
.transports .sorter ul li a.desc:after
{
    content: '';
    position: absolute;
    top: 10px;
    width: 0px;
    height: 0px;
    margin-left: 10px;
}
.transports .sorter ul li a.asc:after
{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid rgb(239, 128, 27);
}

.transports .sorter ul li a.desc:after
{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid rgb(239, 128, 27);
}

.transports .sorter ul li:last-child a.asc:after, .transports .sorter ul li:last-child a.desc:after{
    margin-top: 15px;
}

.transports .sorter ul li:first-child
{
    width: 25%;
}
.transports .sorter ul li:nth-child(2)
{
    width: 25%;
}
.transports .sorter ul li:nth-child(3)
{
    margin-left: 20%;
    text-align: center;
    width: 15%;
    color: white;
}
.transports .sorter ul li:last-child
{
    text-align: center;
    width: 15%;
}
.transports .items
{
    overflow: auto;
    height: 350px;
}

.mCSB_scrollTools .mCSB_buttonDown {
    top: 310px !important;
}
.transports .items .transport
{
    border-bottom: 1px solid #E8E8E8;
    padding: 5px 10px;
    position: relative;
    min-height: 60px;
}

.transports .items .transport:last-child
{
    border-bottom: none;
}

.transports .items .transport > div, .rate > div
{
    position: relative;
}
.transports .items .transport .t-header, .rate .t-header
{
    display: block;
    font-size: 18px;
    color: rgb(0, 145, 124);
    text-decoration: none;
    margin: 1px 0 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.transport .t-header
{
    min-height: 25px;   
}
.transports .items .transport .t-date
{
    
}
.transports .items .transport .t-d-type,
.transports .items .transport .t-d-published,
.transports .items .transport .t-d-form-to
{
    color: #666;
}
.transports .items .transport .t-date .t-d-published,
.transports .items .transport .t-date .t-d-form-to
{
    margin-left: 10px;
}

.transports .items .transport .t-timer
{
    text-align: center;
    font-size: 14px;
    width: 60%;
}
.transports .items .transport .t-timer .t-year,
.transports .items .transport .t-timer .t-month,
.transports .items .transport .t-timer .t-days
{
    font-size: 12px;
}
.transports .items .transport .t-timer .t-year strong,
.transports .items .transport .t-timer .t-month strong,
.transports .items .transport .t-timer .t-days strong
{
    font-size: 15px;
}
.transports .items .transport .t-timer .t-time
{
    font-size: 24px;
}
.transports .items .transport .t-timer .t-closed, .rate
{
    display: block;
    padding-top: 4px;
}
.transports .items .transport .t-rate
{
    text-align: center;
    font-size: 23px;
    color: rgb(239, 128, 27);
    padding: 8px 0;
    width: 100%;
    height: 100%;
}

.transport span, div.t-header{
    cursor: default;
}
.transport > div
{
    min-height: 60px;
}
.items .transport div{
    text-align: left;
}
.items .transport div.t-description{
    text-align: center;
    padding-top: 9px;
}
.transport img:not(.small-loading){
    margin-top: 20px;
}
.transport img.arrow{
    margin: 0 5px;
}
.transport .description{
    overflow: hidden;
}
.transport .description-50{
    height: 50px;
    overflow: hidden;
}
.transport .t-wrapper .width-50{
    margin-bottom: 5px;
}
.t-points a, .t-points{
    /*color: #666;
    font-size: 11px;*/
    color: #5f5e5e;
    font-size: 17px;
    padding-top: 3px;
    margin-bottom: 5px;
}
.t-points a{
    text-decoration: none;
}
.transport .v-center
{
    height: 100%;
    min-height: 40px;
    position: relative;
}
.transports .items .transport .v-center .t-rate,
.transports .items .transport .v-center .t-closed,
.transports .items .transport .v-center .t-timer
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 24px;
}

/*--------Конец-Перевозки----------*/

/*--------Одна-перевозка-----------*/
.transport-one
{
    position: relative;
}
.one-item-content
{
    margin-top: 10px;
}
.transport-one h1
{
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.attention, .note{
    font-size: 16px;
}
.note
{
    margin: 0;
    padding: 0;
    padding: 5px 0 30px 20px;
    width: 50%;
}
.notice
{
    margin: 0;
    padding: 0;
    padding: 5px 0 10px 20px;
    width: 80%;
}

.transport-one .t-o-published
{
    color: #CCC;
    padding-left: 20px;
    display: block;
    margin-bottom: 15px;
}
.transport-one h4{
    padding-left: 7px;
    color: #666;
    margin-top:0;
}
.transport-one .t-o-info
{
    margin-top: 25px;
}
.transport-one .t-o-info .r-params
{
    margin: 5px 0;
    padding: 0px 0 0px 20px;
}
.transport-one .t-o-info label {
    font-size: 16px;
    font-weight: bold;
}

.transport-one .t-o-info span{
    display: block;
    
}

.transport-one .t-o-info .r-header,
.r-header
{
    color: #5f5e5e;
    font-size: 18px;
    margin: 1px 0 6px;
    padding-left: 20px;
}
.transport-one .route
{
    position: relative;
    border-bottom: 2px solid #5f5e5e;
    padding: 5px 0;
    margin-left: 20px;
}
.transport-one .route .point
{
    position: relative;
    padding: 0 10px 12px;
    text-align: center;
    display: inline-block;
    max-width: 15%;
}

.inner-point{
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transport-one .route .point:after
{
    content: '';
    display: block;
    left: 50%;
    margin-left: -6px;
    bottom: 0;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #ef801b;
}
.transport-one .route .start-point:after
{
    left: 0;
    margin-left: 0;
}

.transport-one .route .finish-point:after
{
    left: auto;
    right: 0;
    margin-left: 0;
}

.r-description{
    font-size: 13px;
    padding: 5px 0 5px 20px;
}

.transport-one .point .inner-point{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#error{
    color: red;
}
.attention{
    color: #243DA3;
    font-weight: bold;
}
.transport-one .note a.tr-a{
    color: #5f5e5e;
    text-decoration: none;
    font-weight: bold;
}
#errorRate, #errorSocket, #errorStatus, #closeRate{
    min-height: 60px !important;
}
#event-counter{
    float: right;
    margin-right: 2px;
    color: #fff;
    background-color: #ef801b;
    behavior: url(PIE.htc);
    border-radius: 5px;
    text-align: center;
    width: 22px;
}
#dialog-connect {
    color: #666;
    padding-left: 6px;
    position: absolute;
    right: 10px;
    top: 0px;
}


.rate-button{
    width: 48%;
    margin-top: 10px;
    float: left;
}

.rate-button:last-child{
    float: right;
}
#addRate.ui-dialog-content.ui-widget-content{
    min-height: 10px !important;
}

/*--------Конец-Одна-перевозка-----*/
/*--------Одно-событие-----------*/
.o-event
{
    border-bottom: 1px solid rgb(200,200,200);
    padding: 2px 10px;
    position: relative;
    min-height: 45px;
}

.event-new
{
    background-color: rgba(243,147,20,.2);
}

.events .items .o-event .t-header, .o-event .t-header
{
    display: block;
    font-size: 18px;
    color: #5f5e5e;
    text-decoration: none;
    margin: 1px 0 6px;
}
/*--------Конец-Одного-события-----*/
/*--------Одна-ставка-----------*/
.rate
{
    border-bottom: 1px solid rgb(200,200,200);
    padding: 2px 10px;
    position: relative;
    min-height: 45px;
}

.rate .h-header{
    color: #333333;
}

#last-rate{
    color: #EF801B;
    text-align: center;
    font-size: 23px;
    margin: 5px 0;
}

#rate-price{
   float: right;
   color: #EF801B;
   font-size: 23px;
   border: 0;
   background-color: #EFEFEF;
   margin-top: 3px;
   margin-right: 5px;
   text-align: right;
}

.text{
    float: right;
    color: #EF801B;
    font-size: 23px;
    /*margin-left: 5px;*/
    margin-right: 10px;
    margin-top: 3px;
}

.t-container{
    font-size: 18px;
    text-align: center;
    position: relative;
}
.t-container.open:before, .t-container.open.add-t:before
{
    content: 'До закрытия заявки осталось: ';
    display: block;
    font-size: 12px;
    
}

.t-container.add-t:before
{
    content: 'Дополнительное время: ';
    color: red;
}

.t-timer.add-t:before{
    content: 'Доп-ое время: ';
    color: red;
    display: block;
    font-size: 12px;
}



.shadow{
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}
.t-container .t-time{
    font-weight: 500;
    font-size: 25px;
    display: block; 
}
.transport-one .t-o-info div span{
    display: inline;
}
.transport-one .width-30.shadow{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rate-btn{
    margin-top: 10px;
    float: right;
    width: 10%;
}

.rate-wrapper {
    padding: 9px 0 6px;
    background: #EFEFEF;
    border-radius: 5px 0 0 5px;
}
.r-block {
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    position: relative;
    padding: 0 0 3px 10px;
    float: left;
}
.rate-btns-wrapper{
    float: right;
}

.rate-one{
    background-color: #EEE;
    display: block;
    margin-bottom: 2px;
    padding: 4px;
    overflow: auto;
}
.r-o-container{
    background-color:  #eee;
    padding: 3px;
    color: #333;
    float: left;
    overflow: auto;
    margin-right: 10px;
    width: 60%;
}
.r-o-price{
    color: #EF801B;
    font-size: 23px;
    text-align: right;
    padding-right: 20px;
    padding-top: 6px;
}

.r-o-nds{
    text-align: right;
    padding-right: 20px;
}

.r-submit{
    float: left;
    box-shadow: none;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    color: #FFF;
    font-weight: bold;
    background: #969595;
    background: -moz-linear-gradient(top, #fbc173, #f39314);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #fbc173),color-stop(100%, #f39314));
    background: -webkit-linear-gradient(top, #fbc173, #f39314);
    background: -o-linear-gradient(top, #fbc173, #f39314);
    background: -ms-linear-gradient(top, #fbc173, #f39314);
    background: linear-gradient(top, #fbc173, #f39314);
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    padding: 8px 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 2px;
}
#rates, #addRate .row, .t-container, .transport-one:first-child {
    cursor: default;
}

input.r-submit {
    /*margin-top: 10px;*/
   /* width: 100px;*/
    padding: 3px 10px;
}
#options .r-submit{
    margin-top: 10px;
}

#rate-up{
    background: url(/images/ui-icons_222222_256x240.png);
    background-position: 0 -16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #eee;
}

#rate-down{
    background: url(/images/ui-icons_222222_256x240.png);
    background-position: -65px -18px;
    width: 16px;
    height: 14px;
    cursor: pointer;
    border: 1px solid #eee;
}

.rate-button input[type='button'], .button input[type='submit']{
    cursor: pointer;
}

#rates{
   /* margin-top: 20px;*/
    /*margin-bottom: 10px;*/
    margin: 0;
    /*overflow-x: hidden;*/
    overflow-y: auto;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
    max-height: 300px;
    /*min-height: 30px;*/
    /*max-height: 350px;*/
    /*height: 350px;*/
}

#rates, .r-submit{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#no-rates{
    margin: 10px;
}
#r-preloader img {
    margin-left: 30%;
}
.timer-wrapper
{
    position:relative;
    background:#fff;
    margin-top: 10px;
    padding: 15px 0;
}
.timer-wrapper:before,
.timer-wrapper:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.timer-wrapper:after{
    top:10px;
    bottom:10px;
    left:10px;
    right:0;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 8px rgba(0,0,0,0.6);
            box-shadow:0 0 8px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
         border-radius:10px / 100px;
}
.timer-wrapper:before{
    top:10px;
    bottom:10px;
    right: 10px;
    left: 0;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 8px rgba(0,0,0,0.6);
            box-shadow:0 0 8px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
         border-radius:10px / 100px;
}
.timer-wrapper .r-header
{
    display: block;
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
}

.disabled{
    cursor: default !important;
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE 5.5+*/
    -moz-opacity: 0.4; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.4; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.4; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

.hide{
    display: none;
}

.transport-one + div{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*--------Конец-Одна-ставка-----------*/
.footer
{
    text-align: center;
    width: 100%;
    margin: 15px 0;
}

.width-5, .width-10, .width-15, .width-16, .width-18, .width-19,
.width-20, .width-22, .width-23, .width-25,.width-30, .width-40,
.width-45, .width-47, .width-50, .width-60, .width-70, .width-49
{
    float: left;
}
.width-5{width: 3%; margin-right: 2%}
.width-10{width: 10%;}
.width-15{width: 15%;}
.width-16{width: 16%;}
.width-18{width: 17%; margin-right: 1%;}
.width-19{width: 18%; margin-right: 1%;}
.width-20{width: 19%; margin-right: 1%;}
.width-22{width: 21%; margin-right: 1%;}
.width-23{width: 22%; margin-right: 1%;}
.width-25{width: 23%; margin-right: 2%;}
.width-30{width: 30%;}
.width-40{width: 40%;}
.width-45{width: 45%;}
.width-47{width: 47%;}
.width-50{width: 50%;}
.width-60{width: 60%;}
.width-70{width: 70%;}
.width-100{width: 100%;}
.width-49{width: 49%; margin-left: 1%;}
.width-49:first-child{margin-left: 0; margin-right: 1%;}
.width-30-r{
    float: right;
    width: 30%;
}
.width-100{
    clear: both;
}
.header:after, .wrapper:after, footer:after, #login-form:after,
.user-info:after, .transports .sorter ul:after,
.transports .items .transport:after, .transport-one:after,
.width-100:after, .header .menu:after, #options .row.submit:after, #password .row.submit:after, #mail .row.submit:after, .o-event:after, .contact:after
{
    content: '';
    display: block;
    clear: both;
}

.pager{
    margin: 0;
    background: rgb(238, 238, 238);
}
.pager ul.yiiPager{
    list-style: none;
}
.pager ul.yiiPager li{
    float: left;
    line-height: 24px;
}
.pager ul.yiiPager li.page{
    display: block;
    float: left;
    text-align: center;
    border-bottom: 2px solid white;
}
.pager ul.yiiPager li.page.selected{
    border-bottom: 2px solid rgb(239, 128, 27);
}
.pager ul.yiiPager li a{
    border: 0;
    margin: 0;
    padding: 0 10px;
    background: none;
    color: #969595;
    display: block;
    text-decoration: none;
}
.pager ul.yiiPager li.hidden a{
    color: #777;
}
.pager ul.yiiPager li.selected a{
    color: rgb(239, 128, 27);
}

.transports .pager ul
{
    list-style: none;
    border-top: 1px dashed rgb(200,200,200);
}

/*-------- Всплывающие оповещения -----------*/
#online-event a{
    color: #fff;
    cursor: pointer;
}

#online-event{
    cursor: default;
    z-index: 9999;
}

#online-event .event {
    margin: 5px;
    padding: 15px;
}
#online-event .event-exit {
    background: url(/images/ui-icons_222222_256x240.png);
    background-position: -32px -192px;
    cursor: pointer;
    float: right;
    height: 16px;
    margin: -5px -5px 0 0;
    width: 16px;
}
#online-event .classic {
    background: url("/images/bg2.png") repeat scroll 0 0;
    border-radius: 15px;
    color: white;
    font-size: bold;
}
#online-event .classic.error {
    background-color: #F7C8D2;
    border: 1px solid #E2365C;
}
#online-event .opacity {
    background: url("/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #EF801B;
}
.no-script
{
    color: red;
    position: absolute;
    font-weight: bold;
    top: 10px;
}
.no-script-label{
    font-weight: bold; 
}

/*------- Страница ошибок ------------------------------*/
#show-errors h2, #show-errors a{
    color: #00917C;
}

#show-errors p{
    font-size: 18px;
    margin: 5px 0 0 10px;
}

#show-errors div{
    font-size: 14px;
}

/*------- begin Tooltip ------------------------------*/
.easytooltip {
	opacity:0.95;
	z-index:1000;
	text-align:left;
	text-shadow:#444 0 1px 1px;
	border:1px solid #888;
	padding:8px;
	min-width:50px;
	max-width:530px;
	color: #fff;
	background-image:url(/images/tip-darkgray.png);
}
.easytooltip .tip-inner {
	font:bold 12px/18px arial,helvetica,sans-serif;
	margin-top:-1px;
	padding:0 4px 3px;
	color: #fff;
}

.easytooltip .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url(/images/tip-darkgray_arrows.png) no-repeat;
}
.easytooltip .tip-arrow-right {
	margin-top:-9px;
	margin-left:-7px;
	top:50%;
	left:100%;
	width:11px;
	height:21px;
	background:url(/images/tip-darkgray_arrows.png) no-repeat -22px 0;
}
.easytooltip .tip-arrow-bottom {
	margin-top:-7px;
	margin-left:15px;
	top:100%;
	left:0;
	width:22px;
	height:13px;
	background:url(/images/tip-darkgray_arrows-orig.png) no-repeat -44px 0;
}
.easytooltip .tip-arrow-left {
	margin-top:-9px;
	margin-left:-6px;
	top:50%;
	left:0;
	width:11px;
	height:21px;
	background:url(/images/tip-darkgray_arrows.png) no-repeat -66px 0;
}
div.easytooltip {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}
div.easytooltip table, div.easytooltip td {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    margin: 0;
}

div.easytooltip td.tip-bg-image span {
    display: block;
    font: 1px/1px sans-serif;
    height: 11px;
    overflow: hidden;
    width: 11px;
}

div.easytooltip td.tip-right {
    background-position: 100% 0;
}
div.easytooltip td.tip-bottom {
    background-position: 100% 100%;
}
div.easytooltip td.tip-left {
    background-position: 0 100%;
}
div.easytooltip div.tip-inner {
    background-position: -11px -11px;
}
div.easytooltip div.tip-arrow {
    font: 1px/1px sans-serif;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}
/*------- end Tooltip ------------------------------*/
/*------- start Pop-up window ------------------------------*/
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable
{
    width: 450px !important;
}

.ui-widget textarea {
    width: 99% !important;
}
.ui-corner-all
{
    border-radius: 0 !important;
}
.ui-dialog
{
    padding: 0 !important;
    border-radius: 3px !important;
    box-shadow: 0 0 5px #cccccc;
}
.ui-dialog div.ui-resizable-handle.ui-resizable-se
{
    display: none !important;
}
#modalDialog
{
    margin-bottom: 0.5em;
}
.ui-dialog .btn
{
    margin-top: 0.5em;
}
.ui-widget-content
{
    border: 0 !important;
}
.small-loading{
    width: 15px;
    height: 15px;
    padding-right: 5px;
}
/*------- Pop-up window ------------------------------*/
/*----------*/
/*----- start Cart form errors ----------------------*/
div.form .errorSummary {
    background: none repeat scroll 0 0 #fdd;
    border: 1px solid #fbb;
    font-size: 0.9em;
    margin: 0 20px 20px 20px;
    padding: 7px;
    color: #595959;
    font: 11px Arial,Helvetica,sans-serif;
    line-height: 18px;
}
div.form .errorSummary p {
    margin: 0;
    padding: 5px;
}
div.form .errorSummary ul {
    margin: 0;
    padding: 0 0 0 20px;
}
div.form div.error input, div.form div.error textarea, div.form div.error select, div.form input.error, div.form textarea.error, div.form select.error {
    background: none repeat scroll 0 0 #fee;
    border-color: #c00;
}
div.form input[type="text"], div.form input[type="password"], div.form textarea, div.form select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*border-color: #93b7cd #93b7cd #deebf2;*/
    border-color: #ccc;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    margin: 1px;
    padding: 4px;
    width: 290px;
}

.info {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px;
    color: #468847;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.info.error {
    background-color: #fee;
    color: black;
    border-color: #c00;
}

.btn-create-subuser {
    background: -moz-linear-gradient(top, #fbc173, #f39314);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbc173),color-stop(100%,#f39314));
    background: -webkit-linear-gradient(top,#fbc173,#f39314);
    background: -o-linear-gradient(top,#fbc173,#f39314);
    background: -ms-linear-gradient(top,#fbc173, #f39314);
    background: linear-gradient(top,#fbc173, #f39314);
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 3px 15px;
    text-decoration: none;
    font: 13px "Trebuchet MS";
    font-weight: 700;
}
/*----------*/
