@import url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,cyrillic);
html, body, .wrapper
{
    height: 100%;
}
.w-left, .w-right{
    min-height: 100%;
}
section, header, footer,
nav, menu
{
    display: block;
}
body, html, div, header, footer, ul,
nav, menu, p, section,
.wrapper, .w-left, .w-right
{
    margin: 0;
    padding: 0;
    border: 0;
    font: 13px 'Trebuchet MS' ;
    color: #333333;
}
header, .wrapper, footer
{
    width: 1000px;
    margin: 0 auto;
}

.w-left
{
    float: left;
    width: 25%;
    position:relative;
    background:#fff;
}
.w-left:before,
.w-left:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.w-left:before {
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 8px rgba(0,0,0,0.6);
            box-shadow:0 0 8px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
         border-radius:10px / 100px;
}

.w-right
{
    /*background: url('/images/left-line.png') no-repeat left top;*/
    float: right;
    width: 75%;
}
.logo
{
    text-align: center;
    margin: 25px 0;
}
#login-form
{
    padding: 10px 20px 0;
}
#login-form .row
{
    position: relative;
    margin-bottom: 10px; 
}
#login-form .row label
{
    display: block;
    margin-bottom: 5px;
}
#login-form .row.rememberMe,
#login-form .row.buttons
{
    width: 60%;
    float: left;
}
#login-form .row.buttons
{
    width: 40%;
}
#login-form .row.buttons input.btn
{
    width: 100%;
    padding: 4px 0;
    box-shadow: none;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,140,140,0.9);
    background: #14AAAA;
    background: -moz-linear-gradient(top,#14AAAA,#008C8C);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#14AAAA),color-stop(100%,#008C8C));
    background: -webkit-linear-gradient(top,#14AAAA,#008C8C);
    background: -o-linear-gradient(top,#14AAAA,#008C8C);
    background: -ms-linear-gradient(top,#14AAAA,#008C8C);
    background: linear-gradient(top,#14AAAA,#008C8C);
}
#login-form .row.rememberMe label
{
    font-size: 11px;
    display: inline;
    line-height: 27px;
}
#login-form .row input[type='text'],
#login-form .row input[type='password']
{
    padding: 2% 3%;
    width: 93%;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    vertical-align: middle;
}
#login-form .row.error input
{
    border-color: #FF4040;
}
#login-form .row.error label
{
    color: #FF4040;
}
#login-form .row .errorMessage
{
    margin-top: 5px;
    color: #FF4040;
}
#login-form .row.error .errorMessage
{
    position: absolute;
    width: 70%;
    font-size: 11px;
    background: #FF4040;
    color: white;
    border-radius: 3px;
    top: 15px;
    left: 105%;
    padding: 2% 5%;
}
#login-form .row.error .errorMessage:after
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #FF4040;
    border-bottom: 7px solid transparent;
}
.user-info
{
    margin: 0 20px 10px;
}
.user-info .user-name
{
    float: left;
    display: block;
    width: 100%;
    /*text-transform: uppercase;*/
    font-size: 14px;
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.user-menu
{
    list-style: none;
    margin: 0 20px;
    text-align: left;
}
.user-menu li
{
    
}
.user-menu li a
{
    display: block;
    color: rgb(0, 145, 124);
    text-decoration: none;
    font-size: 14px;
    padding: 3px 0px 3px 7px;
    border-top: 1px dashed rgb(0, 145, 124);
}
.user-menu li:first-child a
{
    border-top: 0;
}
.user-menu li a:hover
{
    background: #f7f7f7;
}
.user-menu li a.active
{
    background: #eeeeee;
}
.user-menu li .user-submenu
{
    padding-left: 20px;
    list-style: none;
}
.user-menu li .user-submenu li:first-child a
{
    border-top: 1px dashed rgb(0, 145, 124);
}
#content
{
    padding: 20px 0 20px 20px;
}
.footer
{
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
}
header:after, .wrapper:after, footer:after, 
#login-form:after, .user-info:after
{
    content: '';
    display: block;
    clear: both;
}