Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

AddType text/x-component .htc
php_value magic_quotes_gpc off
AddCharset utf-8 *
AddDefaultCharset UTF-8
<IfModule mod_charset.c>
CharsetSourceEnc utf-8
CharsetDefault utf-8
</IfModule>

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{HTTP_HOST} ^exchange.lbr.ru/
RewriteRule ^(.*)$ http://exchange.lbr.ru/$1 [R=permanent,L]
# otherwise forward it to index.php
RewriteRule . index.php