AddType text/x-component .htc
php_value magic_quotes_gpc off
php_value sendmail_path /var/qmail/bin/qmail-inject
AddCharset utf-8 *
AddDefaultCharset UTF-8
<IfModule mod_charset.c>
CharsetSourceEnc utf-8
CharsetDefault utf-8
</IfModule>

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php