* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: rgb(51, 51, 51);
    background: rgb(255,255,255);
}
p{
    margin: 1em 0;
}
h1, h2, h3, h4, h5, h6{
    margin: .5em 0 .8em;
    color: #00917C;
}
input, textarea{
    min-height: 24px;
    padding: 5px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in 0;*/
    vertical-align: middle;
    width: 50%;
}
#transport-form input:not(.btn), #transport-form textarea{
    padding: 3px;
    width: 49%;
}

#timer_deadline, #timer_label{
    border: none;
    cursor: default;
    box-shadow: none;
}
#timer_label{
    color: green;
}
.btn{
    padding: 1px 20px;
    width: auto;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    box-shadow: none;
    display: block;
    float: left;
    margin: 3px 5px;
    text-decoration: none;
    border-radius: 2px;
    border: 0;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    width: auto;
    cursor: pointer;
    cursor: hand;
}
.btn-admin{
    color: #000000;
    font-family: Arial,Tahoma,Verdana,sans-serif;
    font-size: 13px;
    background-color: #C8D8E8;
    /*background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;*/
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    border: 1px solid #ABC4DE;
    font-weight: normal;
    text-shadow: none;
}
.btn-admin:before {
    content: url("/images/ico-create.png");
}
.btn-green{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    border: 1px solid #5ca941;
}
.btn-orange{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #fba222;
    background-image: -moz-linear-gradient(#dedede, #4183C4);
    background-image: -webkit-linear-gradient(#dedede, #4183C4);
    background-image: linear-gradient(#dedede, #4183C4);
    background-repeat: repeat-x;
    border: 1px solid #4183C4;
}
.del{
    background-color: #bd362f;
    background-image: -moz-linear-gradient(#bd362f, #942a25);
    background-image: -webkit-linear-gradient(#bd362f, #942a25);
    background-image: linear-gradient(#bd362f, #942a25);
    background-repeat: repeat-x;
    border-color: #bd362f;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.9);
}
/* начало кнопки */

form .buttons > *{
    margin: 0;
    border-radius: 0;
    float: right;
}

form .buttons *:first-child{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
form .buttons *:last-child{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
/* конец кнопки */
    
header{
    padding-top:  40px;
}
header .menu{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
    border-bottom: 1px solid rgb(240, 240, 240);
    -moz-box-shadow: 0px 0px 3px #c0c0c0;
    -webkit-box-shadow: 0px 0px 3px #c0c0c0;
    -o-box-shadow: 0px 0px 3px #c0c0c0;
    box-shadow: 0px 0px 3px #c0c0c0;
}
header .menu > ul.nav{
    float: left;
    list-style: none;
    position: relative;
}
header .menu > ul.nav:after{
    content: '';
    clear: both;
    display: block;
}
header .menu > ul.nav > li.item, header .menu a.logo-link{
    float: left;
}
header .menu a.admin-logout{
    float: right;
}
header .menu > ul.nav > li.item a, header .menu > ul.nav > li.parent span, header .menu a.logo-link, header .menu a.admin-logout{
    line-height: 33px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    padding: 0 1.5em;
    margin: 0;
    display: block;
    font-weight: bold;
    white-space: nowrap;
}
header .menu a.logo-link, header .menu a.admin-logout{
    position: relative;
    z-index: 1;
}
header .menu a.logo-link:after{
    content: '';
    display: block;
    background: url("/images/ui-icons_222222_256x240.png") no-repeat -32px -80px;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 4px;
    top: 9px;
}
header .menu > ul.nav > li.parent span{
    position: relative;
    padding-right: 2em;
    cursor: default;
}
header .menu > ul.nav > li.parent span:after{
    content: '';
    display: block;
    background: url("/images/ui-icons_222222_256x240.png") no-repeat -64px 0px;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 9px;
    top: 9px;
}
header .menu > ul.nav > li.parent{
    
}
header .menu > ul.nav > li.parent:hover{
    background: rgb(240, 240, 240);
}
header .menu ul.nav li.parent:hover span, header .menu a.logo-link:hover, header .menu > ul.nav > li.parent ul.nav li.item:hover a, header .menu > ul.nav > li.item a:hover{
    color: #008672;
}
header .menu > ul.nav > li.parent:hover ul.nav{
    display: block;
}
header .menu > ul.nav > li.parent:hover span:after{
    background-position: 0 0;
}
header .menu > ul.nav > li.parent ul.nav{
    position: absolute;
    z-index: 1;
    background: rgb(240, 240, 240);
    list-style: none;
    display: none;
    -moz-box-shadow: 0px 3px 3px #c0c0c0;
    -webkit-box-shadow: 0px 3px 3px #c0c0c0;
    -o-box-shadow: 0px 3px 3px #c0c0c0;
    box-shadow: 0px 3px 3px #c0c0c0;
}
header .menu > ul.nav > li.parent ul.nav li.item:hover{
    background: url("/images/bg_menu_admin.png") repeat-x top left;
}
header .menu > ul.nav > li.parent ul.nav li.item a{
    
}

.wrapper{
    margin: 1em 2em;
}

.wrapper .total {
    
}
.wrapper .total .left{
    width: 30%;
    float: left;
}
.wrapper .total .right{
    width: 66%;
    padding: 0 2%;
    float: right;
}
.wrapper .total:after{
    content: '';
    display: block;
    clear: both;
}

 select{
    border: none;
    color:#4183C4;
    background-color:#DEDEDE;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: 0px inset ThreeDFace ! important;
    margin-right: 5px;
    padding: 5px 4px 5px 5px;
  } 
  select option{
      padding-left: 6px;
  }
/*-----начало-users-----*/
.left .create-button{
    margin: 0px 0px 5px;
}
.left .create-button:after{
    content: '';
    display: block;
    clear: both;
}
.left .create-button a{
    margin-left: 0;
}
.left .list-view{
    overflow: hidden;
    -moz-box-shadow: 0px 0px 3px #c0c0c0;
    -webkit-box-shadow: 0px 0px 3px #c0c0c0;
    -o-box-shadow: 0px 0px 3px #c0c0c0;
    box-shadow: 0px 0px 3px #c0c0c0;
    border-radius: 2px;
}

/* начало сортировака */
.left .list-view .sorter{
    margin: 0;
    padding: 0;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
    line-height: 33px;
    border-bottom: 1px solid rgb(65, 131, 196);
}
.left .list-view .sorter ul{
    padding: 0 10px;
}
.left .list-view .sorter ul li{
    margin: 0 7px;
}
.left .list-view .sorter ul li a{
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
}
.left .list-view .pager{
    margin: 0;
    background: rgb(238, 238, 238);
    border-top: 1px solid #4183C4;;
}
.left .list-view .pager ul.yiiPager{
    
}
.left .list-view .pager ul.yiiPager{
    
}
.left .list-view .pager ul.yiiPager li{
    line-height: 24px;
}
.left .list-view .pager ul.yiiPager li.page{
    display: block;
    float: left;
    text-align: center;
    border-bottom: 2px solid rgb(238, 238, 238);
    width: 10%;
    border-top: 1px solid #DEDEDE;
}

.left .list-view .pager ul.yiiPager li.page.selected{
    border-bottom: 2px solid rgb(65, 131, 196);
}
.left .list-view .pager ul.yiiPager li.previous, .left .list-view .pager ul.yiiPager li.next{
    display: none;
}
.left .list-view .pager ul.yiiPager li a{
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: #777;
    display: block;
}
.left .list-view .pager ul.yiiPager li.selected a{
    color: rgb(65, 131, 196);
}
/* конец сортировака */

/* начало левая панель */
.left .list-view .items{
    list-style: none;
    background: rgb(238, 238, 238);
}
.left .list-view .items .empty{
    padding: .5em 1em;
    display: block;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.left .list-view .items li{
    
}
.left .list-view .items li a, .left .list-view .items li span{
    color: rgb(65, 131, 196);
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.left .list-view .items li span{
    color: rgb(125, 125, 125);
}
/* конец левая панель */

/* начало правая(рабочая) область */
.right{
   position: relative;
}
.right .header-form{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 1em;
}
.left .header-form{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 1em;
}
.right form{
    position: relative;
}

.right form .field{
    margin: 1em 0;
}
#transport-form .field{
   /* margin-top: 0;*/
    margin-bottom: 5px;
}
.right .header-h4{
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em 0 0;
}
.right form label{
    min-width: 20%;
    float: left;
    line-height: 27px;
    display: block;
}
#contactform label{
    min-width: 15%;
}
#contactform select{
    width: 50%;
}
#userform label{
    min-width: 10%;
}

.right form .description textarea{
    max-height: 44px;
}
.right form .level input{
    width: 80%;
    border: 1px solid #CCC;
    margin: 0;
    margin-left: 10%;
    padding: 0 .5em;
}

.right form .level span{
    width: 50px;
}
.right form .level{
    position: absolute;
    right: 0;
    top: 12.5%;
}
    /* начало чекбоксы */
.right .operat-50{
    width: 48%
}
.right .operat-sel{
    float: right;
    margin-right: 9%;
    margin-top: 20px;
}
.right .operat-all{
    position: absolute;
    top: 153px;
    width: 40%;
}
.right .quick_buttons{
    position: absolute;
    top: 185px;
    width: 10.5%;
    right: 0%;
    margin: .5em 0;
    background: rgb(238, 238, 238);
    overflow: hidden;
    -moz-box-shadow: 0px 0px 3px #c0c0c0;
    -webkit-box-shadow: 0px 0px 3px #c0c0c0;
    -o-box-shadow: 0px 0px 3px #c0c0c0;
    box-shadow: 0px 0px 3px #c0c0c0;
    border-radius: 2px;
}

.right .message, .right .trMessage, .right .trDelMessage {
    padding: 1.2% 2%;
    margin-bottom: .53em;
    background: #E6EFC2;
    border-color: #C6D880;
    border-radius: 2px;
    color: green;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    -o-box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.075);
    position: absolute;
    bottom: 100%;
    right: 2.9%;
    width: 90.5%;
}

.right .trMessage {
    bottom: 96.5%;
    padding: 0.5%;
    left: 2.9%;
    width: 30%;
}

.right .trDelMessage {
    padding: 0.5%;
    left: 10%;
    width: 45%;
}

.right .message.error, .trMessage.error{
    background-color: #FFEEEE;
}

.right .quick_buttons .btn{
    width: 90%;
    font-size: .85em;
    margin:0;
    float: none;
    padding: 5% 5%;
    line-height: normal;
    text-align: center;
    font-weight: normal;
    border: 0;
    border-bottom: 1px solid rgb(222, 222, 222);
    color: rgb(65, 131, 196);
    background: none;
}
.right .quick_buttons .btn:hover{
    color: #333;
    background: #f3f3f3;
}
.right .dropper{
    list-style: none;
    padding: .5em;
    min-height: 25px;
    background: rgb(238, 238, 238);
    margin: .5em 0;
    border-radius: 2px;
}
.right .dropper li{
    /*float: left;*/
    padding: 3px 7px;
    margin: 0;
    border: 1px solid rgb(222, 222, 222);
    border-top-width: 0;
    border-radius: 2px;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
}
.right .dropper li:first-child{
    border-top-width: 1px;
}
.right .dropper li.placeholder {
    border-top-width: 1px;
    border: 1px dashed orange !important;
    background: white;
    height: 16px;
}
.right .dropper li span{
    cursor: default;
}
.right .dropper li input, .hide{
    display: none;
}
.right #checkbox-selected{
    background: #e0f4d8;
}
.right #checkbox-all{
    background: #dfebf3;
}
.right #checkbox-selected li{
    border-color: #c5f1b4;
}
.right #checkbox-all li{
    border-color: #cae3f3;
}
.right form .buttons *{
    margin: 0;
}
    /* конец чекбоксы */
    /*--------Начало-Перевозки----------*/
.width-5, .width-10, .width-15, .width-16, .width-18, .width-19,
.width-20, .width-22, .width-23, .width-25,.width-30, .width-35, .width-40,
.width-45, .width-47, .width-50, .width-60, .width-70, .width-49
{
    float: left;
}
.width-5{width: 3%; margin-right: 2%}
.width-10{width: 10%;}
.width-15{width: 13%; margin-right: 2%}
.width-16{width: 16%;}
.width-18{width: 17%; margin-right: 1%;}
.width-19{width: 18%; margin-right: 1%;}
.width-20{width: 19%; margin-right: 1%;}
.width-22{width: 21%; margin-right: 1%;}
.width-23{width: 22%; margin-right: 1%;}
.width-25{width: 23%; margin-right: 2%;}
.width-30{width: 30%;}
.width-35{width: 33%; margin-right: 2%}
.width-40{width: 38%; margin-right: 2%}
.width-45{width: 45%;}
.width-47{width: 47%;}
.width-50{width: 50%;}
.width-60{width: 60%;}
.width-70{width: 70%;}
.width-100{width: 100%;}
.width-49{width: 49%; margin-left: 1%;}
.width-49:first-child{margin-left: 0; margin-right: 1%;}
.width-30-r{
    float: right;
    width: 30%;
}
.width-100{
    clear: both;
}
#tabs.ui-tabs .ui-tabs-nav li a{
    color: #4183C4;
}
#tabs .ui-widget-header {
    /*border-color: #4183C4;*/
    background: url("/images/bg_menu_admin.png") repeat-x scroll left top #F3F3F3;
}
#tabs{
    border-radius: 2px;
    box-shadow: 0 0 3px #C0C0C0;
    overflow: hidden;
}
#tabs .sorter ul li {
    float: left;
}
#tabs .sorter ul li:nth-child(1){
    width: 10%;
}
#tabs .sorter ul li:nth-child(1) a{
    padding-left: 20px;
}
#tabs .sorter ul li:nth-child(2){
    width: 15%;
}
#tabs .sorter ul li:nth-child(4){
    width: 24%;
}
#tabs .sorter ul li:nth-child(5){
    width: 20%;
}
#tabs .list-view .sorter li{
    margin: 0;  
}

#tabs .list-view .sorter a{
    margin: 0 0 5px;
    text-align: left;
}

/*.sorter ul li:nth-child(1), .sorter ul li:nth-child(2)  {
    width: 10%;
    text-align: left;
}
.sorter ul li:nth-child(2){
    width: 15%;
}

.sorter ul li:nth-child(1) a {
    padding-left: 20px;
}
*/

#tabs .sorter ul li:nth-child(3){
    margin-right: 20px !important;
}

#tabs .sorter ul li {
    color: #555555;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}
#tabs .list-view .sorter ul li a{
    text-decoration: none;
    position: relative;
   /* padding: 4px 12px;*/
    text-shadow: 0 1px 0 #FFFFFF;
}
#tabs .transport{
    margin-bottom: 5px;
    background-color: #eee;
}
.transport > div:first-child{
    text-align: center;
}
.create-transport a{
    margin: 0;
    margin-bottom: 10px;
}
.transport:after, .sorter ul:after{
    clear: both;
    content: "";
    display: block;
}

.transport .t-header {
    color: #00917C;
    display: block;
    /*font-size: 18px;*/
    font-weight: bold;
    margin: 1px 0 2px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transport > div
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.transport div{
    text-align: left;
}

.transport img{
    margin-top: 20px;
}
.transport .description{
    overflow: hidden;
}
.transport .description-50{
    height: 50px;
    overflow: hidden;
}
.transport .t-wrapper .width-50{
    margin-bottom: 5px;
}
.t-points{
    color: #666;
    font-size: 11px;
    padding-top: 3px;
}
.transport .v-center
{
    height: 100%;
    min-height: 40px;
    position: relative;
}
.transports .items .transport .v-center .t-rate,
.transports .items .transport .v-center .t-closed,
.transports .items .transport .v-center .t-timer
{
    position: absolute;
    height: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*--------Конец-Перевозки----------*/

    
    /* Начало список ставок */

#rates-all, #points-all{
    background: #dfebf3;
    /*width: 360px;*/
    text-align: center;
    box-shadow: 0 0 3px #C0C0C0;
    overflow:hidden;
    list-style: none;
    padding: .5em;
    min-height: 25px;
    background: rgb(238, 238, 238);
    margin: .5em 0;
    border-radius: 2px;
}
#rates-all li.item.win{
    background-color: #60b044;
}
#points-all{
    width: 500px;
}
#rates-all li:first-child, #points-all li:first-child{
    background: #b3cfe1;
}
#rates-all li, #points-all li{
    border-color: #cae3f3;
    width: 100%;
    float: left;
    padding: 3px 0;
    border: 1px solid rgb(222, 222, 222);
    border-top-width: 0;
    border-radius: 2px;
    background: #f3f3f3 repeat-x top left;
}

#rates-all li > span, #points-all li > span{
    float: left;
    width: 30%;
    text-align: center;
}
#points-all li > span{
    width: 80%;
}

#rates-all li:first-child span:first-child, #points-all li:first-child span:first-child{ 
   margin-left: 40px;
   width: 25%;
}

/*#points-all li:first-child > span:first-child{
   padding-left: 20px;
   width: 60%;
}*/
#points-all li > span{
   padding-left: 20px;
   width: 40%;
}

#rates-all li > span:last-child, #points-all li > span:last-child{
    float: right;
    margin-right: 10px;
}

#rates-all li > span:first-child, #points-all li > span:first-child{
    text-align: left;
    padding-left: 10px;
    cursor: default;
}

#rates-all li > span:nth-child(2){
    cursor: default;
    text-align: left;
}

#rates-all li span.del-row, #points-all li span.del-row{
    background: url('/images/delete-icon.png') no-repeat left top;
    width: 16px;
    height: 16px;
}
#rates-all li span.del-row:hover, #points-all li span.del-row:hover{
    cursor: pointer;
}

.no-rates{
   margin-top: 10px;
}

input[name^="Rates"], input[name^="Points"]{
    display: none;
}

.point input{
    width: 170px;
}

    /* Конец список ставок */
/* конец правая(рабочая) область */

/*-----Конец-users-----------*/
/*-----Начало-changes----------*/
.change{
    position: relative;
}
/*
.width-5, .width-10, .width-15, .width-20, .width-25,.width-30, .width-40, .width-50, .width-60, .width-70
{
    float: left;
}
.width-5{width: 5%;}
.width-10{width: 10%;}
.width-15{width: 15%;}
.width-20{width: 20%;}
.width-25{width: 25%;}
.width-30{width: 30%;}
.width-40{width: 40%;}
.width-50{width: 50%;}
.width-60{width: 60%;}
.width-70{width: 70%;}
*/
/*-----Конец-changes-----------*/
footer{
    
}

.button_in_accordion_wrapper{
    position: absolute;
    top: 3px;
    right: 10px;
    list-style: none;
}
.button_in_accordion{
    margin:0px 5px;
    float: left;
}

@media only screen and (max-width: 1000px) {
/*    body{
        font-size: 12px;
    }*/
}
@media only screen and (max-width: 640px) {
    header .menu > ul.nav > li.item, header .menu a.logo-link{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
}


header .menu:after, .right form .name:after, .right form .description:after,.right form .level:after, .right form .buttons:after, .right form .checkboxes:after, .right form .checkboxes  .checkbox-all .checkbox:after, .right form .checkboxes .check-panel:after, .right .dropper:after, .right form:after, .left .list-view .pager ul.yiiPager:after{
    content: '';
    display: block;
    clear: both;
}

/* GROUP ADMIN_ADDITIONAL FEATURES */
.admin_additional_features_content{
    background:#F5F5F5; 
    position: relative; 
    box-shadow: inset 0px 0px 7px #AAA;
}
.admin_main_features{float:left; width:40%;}
.admin_additional_features{float:left; width:60%;}
/* END GROUP ADMIN_ADDITIONAL FEATURES */

/*---- Начало Greed view ----*/
/*.grid-view-loading {
    background: url("loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/
.grid-view {
    padding: 15px 0;
}
.grid-view table.items {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D0E3EF;
    border-collapse: collapse;
    width: 100%;
}
.grid-view table.items th, .grid-view table.items td {
    border: 1px solid #FFFFFF;
    font-size: 0.9em;
    padding: 0.3em;
}
.grid-view table.items th {
    background: url("/images/bg.gif") repeat-x scroll left top #FFFFFF;
    color: #FFFFFF;
    text-align: center;
}
.grid-view table.items th a {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
}
.grid-view table.items th a:hover {
    color: #FFFFFF;
}
/*
.grid-view table.items th a.asc {
    background: url("up.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 10px;
}
.grid-view table.items th a.desc {
    background: url("down.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 10px;
}*/
.grid-view table.items tr.even {
    background: none repeat scroll 0 0 #F8F8F8;
}
.grid-view table.items tr.odd {
    background: none repeat scroll 0 0 #E5F1F4;
}
.grid-view table.items tr.selected {
    background: none repeat scroll 0 0 #BCE774;
}
.grid-view table.items tr.selected:hover {
    background: none repeat scroll 0 0 #CCFF66;
}
.grid-view table.items tbody tr:hover {
    background: none repeat scroll 0 0 #ECFBD4;
}
.grid-view .link-column img {
    border: 0 none;
}
.grid-view .button-column {
    text-align: center;
    width: 60px;
}
.grid-view .button-column img {
    border: 0 none;
}
.grid-view .checkbox-column {
    width: 15px;
}
.grid-view .summary {
    margin: 0 0 5px;
    text-align: right;
}
.grid-view .pager {
    margin: 5px 0 0;
    text-align: right;
}
.grid-view .empty {
    font-style: italic;
}
.grid-view .filters input, .grid-view .filters select {
    border: 1px solid #CCCCCC;
    width: 100%;
}
.items tr td:first-child {
    width: 20%;
}
/*---- Конец Greed view ----*/

form .field {
    position: relative;
    margin-bottom: 10px;
}

.form .errorMessage
{
    margin-top: -10px;
    color: #FF4040;
}
.form .field.error .errorMessage
{
    position: absolute;
    width: 70%;
    font-size: 11px;
    background: #FF4040;
    color: white;
    border-radius: 3px;
    top: 9px;
    left: 105%;
    /*padding: 2% 5%;*/
    padding: 1% 1% 1% 2%;
    z-index: 10;
}
#transport-form .field.custom label{
    line-height: normal;
    width: 20%;
}

#transport-form .field.error .errorMessage{
    padding: 0.5%;
}

.form .field.error .errorMessage
{
    left: 72%;
    width: 30%;
}

#contactform .field.error .errorMessage
{
    left: 70%;
}

.form .field.error .errorMessage:after
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #FF4040;
    border-bottom: 7px solid transparent;
}

#transport-form_es_.errorSummary
{
    display: none !important;
}
#tabs-3 #transport-form label{
    min-width: 15%;
}

div.form div.error input, div.form div.error textarea, div.form div.error select, div.form input.error, div.form textarea.error, div.form select.error {
    background: none repeat scroll 0 0 #FFEEEE;
    border-color: #CC0000;
}

div.form div.success input, div.form div.success textarea, div.form div.success select, div.form input.success, div.form textarea.success, div.form select.success {
    background: none repeat scroll 0 0 #E6EFC2;
    border-color: #C6D880;
}

div.form span.required {
    color: #FF0000;
}
.info
{
    
}
.info .info-list
{
    list-style: none;
    display: table;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(192, 192, 192);
    border-radius: 2px;
    background: rgb(238, 238, 238);
    float: left;
    margin: 0 20px;
}
.info .info-list li
{
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    border-bottom: 1px solid rgb(222, 222, 222);
    color: #777777;
}
.info .info-list li:first-child
{
     color: rgb(119, 119, 119);
    text-decoration: none;
    text-shadow: 0px 1px 0px white;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0 1em;
    background: url("/images/bg_menu_admin.png") #f3f3f3 repeat-x top left;
    line-height: 33px;
    border-bottom: 1px solid rgb(65, 131, 196);
}
